*~
*.includecache
*.internal
*.log
*.o
*.cmake
*.make
*.check_cache

a.out
CMakeCache.txt
Makefile
link.txt
progress.marks

/build/*
/CMakeFiles/2.8.12.2/*
/demos/CMakeFiles/2.8.12.2/*
/demos/CMakeFiles/Progress/*

/CMakeFiles/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/Makefile2
/CMakeFiles/TargetDirectories.txt
/demos/CMakeFiles/CMakeDetermineCompilerABI_C.bin
/demos/CMakeFiles/CMakeDetermineCompilerABI_CXX.bin
/demos/CMakeFiles/CMakeRuleHashes.txt
/demos/CMakeFiles/CompilerIdC/CMakeCCompilerId.c
/demos/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp
/demos/CMakeFiles/Makefile2
/demos/CMakeFiles/TargetDirectories.txt
/doxygen/html
/doxygen/latex
/install_manifest.txt
/src/CompileTime/iec
/src/CompileTime/iec-0.1
/src/RunTime/libie.a
